

html {
    body {
        margin: 0;
        padding: 0;
        color: black;
        font-size: 1.5rem;
        font-family: Helvetica, sans-serif;
        background: linear-gradient(to right, #eacda3, #d6ae7b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}

table {
  margin: .3rem auto;
}

table * {
text-transform: uppercase;}

section {
  border: solid .1rem #eacda3;
  text-align: center;

}

button {
  display: inline-block;
  margin: .5rem auto;
  background: black;
  color: #d6ae7b;
  width: 130px;
  height: 30px;
  border: none;
  border-left: .1rem solid;
  cursor: pointer;
}

p {
  background: black;
  text-align: center;
  color: #eacda3;
  font-size: 2rem;
  text-transform: uppercase;

}
